{% extends "mainapp/base.html" %}
{% load static %}
{% block title %}Корзина{% endblock %}
{% block site_content %}
    <link href= "{% static 'css/cart.css' %}" rel="stylesheet">
<main>


    
    <p class="cart__title">Корзина</p>
    <table class="cart">
        <thead>
        <tr>
            <th>Фото</th>
            <th>Товар</th>
            <th>Кол-во</th>
            <th>Убрать</th>
            <th>Цена за единицу</th>
            <th>Всего</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
                <tr>
                    <td>
                        <a href="info/{{product.id}}/{{item}}/">    
                            <img src="
                                {% if product.image %}
                                    {{ product.image.url }}
                                {% else %}
                                    {% static 'img/no_image.png' %}
                                {% endif %}"
                            class="cart__img">
                        </a>   
                    </td>
                        <td><a href="info/{{product.id}}/{{item}}/" style="text-decoration: none; color: black;">{{ product.title }}</a></td>
                    <td>
                        <div class="number_quantity">
                            <a class="number_minus_quantity" href="quantity_minus/{{product.id}}/{{item}}/">-</a>
                            <input type="number" min="1" value="{{item.quantity}}" step="1" readonly>
                            <a class="number_plus_quantity" href="quantity_plus/{{product.id}}/{{item}}/">+</a>
                        </div>
                    </td>
                    <td><a href="remove/{{product.id}}/{{item}}/"><img class="delete__img" src="{% static 'img/del.png' %}"></a></td>
                    <td class="num">{{ item.price }} руб.</td>
                    <td class="num">{{ item.total_price }} руб.</td>
                </tr>
            {% endwith %}
        {% endfor %}       
    </tbody>
    </table>
    <div class="clear__button">
        <a class="clear" href="clear/">Очистить корзину</a>
    </div>
    <div class="total__price">
        <p class="total">Итого:</p>
        <p class="total__result">{{ cart.get_total_price }} руб.</p>
    </div>
    <div class="total__price">
        <p class="total">Всего в корзине:</p>
        <p class="total__result">{{cart.len}} единиц товара</p>
    </div>
    <div class="buy__button">
        <a class="buy" href="success/">Оплатить</a>
    </div>
    {% if not user.is_authenticated %}
        <p class="auth">Авторизуйтесь, чтобы сохранить этот заказ в истории покупок.</p>
    {% endif %}
</main>
{% endblock %}
