{% extends "mainapp/base.html" %}
{% load static %}
{% block title %}Корзина{% endblock %}
{% block site_content %}
    <link href= "{% static 'css/cart.css' %}" rel="stylesheet">
    
    <p class="cart__title">Корзина</p>
    <table class="cart">
        <thead>
        <tr>
            <th>Картинка</th>
            <th>Товар</th>
            <th>Кол-во</th>
            <th>Удаление</th>
            <th>Цена за единицу товара</th>
            <th>Всего</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
                <tr>
                    <td>
                        <a href="{{ product.get_absolute_url }}">
                            <img src="
                                {% if product.image %}
                                    {{ product.image.url }}
                                {% else %}
                                    {% static 'img/no_image.png' %}
                                {% endif %}" style="width: 100px; height: 100px">
                        </a>
                    </td>
                    <td>{{ product.title }}</td>
                    <td style="padding-left:30px;">{{ item.quantity }}</td>
                    <td style="padding-left:13px"><a href="remove/{{product.id}}/{{item}}/">Удалить</a></td>
                    <td class="num">{{ item.price }} руб.</td>
                    <td class="num">{{ item.total_price }} руб.</td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>Итого</td>
            <td colspan="4"></td>
            <td class="num">{{ cart.get_total_price }} руб.</td>
        </tr>
        
        </tbody>
       
    </table>
    <p>Всего в корзине: {{cart.len}}</p>
{% endblock %}