<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "{% static 'css/base.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header class="header">
        <div>
            <a href="/" class="header__menu logo">Artemida Electronics</a>
        </div>
        <div class="header__right">
            <div class="search">
                <form action="{% url 'search' %}" method="get"> 
                    <input name="search_str" type="search" placeholder="Поиск..." class="input__search">                    
                </form>
            </div>
            

            <a href="/constructor" class="header__menu">Конфигуратор ПК</a>
            <a href="/cart" class="header__menu">Корзина</a>
            {% if user.is_authenticated %}
                <a href="/profile/{{user.id}}" class="header__menu">Личный кабинет</a>
                <a href="/logout" class="header__menu">Выйти</a>
            {% else %}
                <a href="/login" class="header__menu">Войти</a>
                <a href="/register" class="header__menu">Регистрация</a>
            {% endif %}
        </div>
    </header>


    {% block site_content %}{% endblock %}


    <footer class="footer">
        <div class="footer__top">
            <a href="/constructor" class="footer__menu">Конфигуратор ПК</a>
            <a href="/cart" class="footer__menu">Корзина</a>
            {% if user.is_authenticated %}
                <a href="/profile/{{user.id}}" class="footer__menu">Личный кабинет</a>
                <a href="/logout" class="footer__menu">Выйти</a>
            {% else %}
                <a href="/login" class="footer__menu">Войти</a>
                <a href="/register" class="footer__menu">Регистрация</a>
            {% endif %}
        </div>
        <hr class="footer__hr">
        <div class="footer__bot">
            <a href="/" class="footer__menu">© Artemida Electronics 2022</a>
        </div>
    </footer>
</body>
</html>