{% extends 'mainapp/base.html' %}
{% block title %}Artemida Electronics{% endblock %}
{% block site_content %}
{% load static %}
<p>Главная страница сайта</p>
<div style="display: flex; flex-direction:column;">
    <a href="/processors">Процессоры</a>
    <a href="/coolers">Кулеры для процессоров</a>
    <a href="/motherboards">Материнские платы</a>
    <a href="/rams">Оперативная память</a>
    <a href="/ssd_m2s">Твердотельные накопители M.2 (SSD M.2)</a>
    <a href="/hdds">Жесткие диски (HDD)</a>
    <a href="/ssd_satas">Твердотельные накопители SATA (SSD SATA)</a>
    <a href="/videocards">Видеокарты</a>
    <a href="/power_blocks">Блоки питания</a>
    <a href="/corpuses">Корпуса</a>
</div>


{% endblock %}