{% extends 'mainapp/base.html' %}
{% block title %}Авторизация{% endblock %}
{% block site_content %}
{% load static %}
<link href= "{% static 'css/login.css' %}" rel="stylesheet">

<div class="login__card">
  <form method="POST" class="login__form">
    
      {% csrf_token %}
      <h3 class="login__logo">Авторизация</h3>
      
     
        <label for="floatingInput">Имя пользователя или почта</label>
        <input type="Text" name="username" class="login__input" id="floatingInput" placeholder="user@mail.ru">
        
     


        <label for="floatingPassword">Пароль</label>
        <input type="password" name="password" class="login__input" id="floatingPassword" placeholder="Пароль">
        
    
      

    
      
    
      <a href="/register" class="register">Нет аккаунта?</a>
      <button class="buy">Войти</button>
      <div class="error">
        <p style="color:#FF0000">{{error}}</p>
      </div>
    
  </form>
</div>


{% endblock %}