{% extends 'mainapp/base.html' %}
{% block title %}Блоки питания{% endblock %}
{% block site_content %}
{% load static %}
<link href="{% static 'css/products.css' %}" rel="stylesheet">
<script src="{% static 'js/vue.js' %}"></script> <!-- Подключаем вью файликом -->

<div class="products">
    <div class="products__filter__left">
        <p class="filter__logo">Фильтры</p>
        <div class="filter__data">
            {% if filter == 'price_up' %}
            <div>
                <input type="radio" name="pr" @change="price_up()" checked="true">
                <label>По возрастанию цены</label>
            </div>
            <div>
                <input type="radio" name="pr" @change="price_down()" value="2">
                <label>По убыванию цены</label>
            </div>

            {% elif filter == 'price_down' %}
            <div>
                <input type="radio" name="pr" @change="price_up()">
                <label>По возрастанию цены</label>
            </div>
            <div>
                <input type="radio" name="pr" @change="price_down()" value="2" checked="true">
                <label>По убыванию цены</label>
            </div>

            {% else %}
            <div>
                <input type="radio" name="pr" @change="price_up()" checked="true">
                <label>По возрастанию цены</label>
            </div>
            <div>
                <input type="radio" name="pr" @change="price_down()" value="2">
                <label>По убыванию цены</label>
            </div>

            {% endif %}
        </div>

        <p class="filter__name">По цене</p>
        <div class="filter__data">
            <div>
                <input type="checkbox" value="0-1999.99" v-model="price">
                <label>До 2000 руб.</label>
            </div>
            <div>
                <input type="checkbox" value="2000-4999.99" v-model="price">
                <label>От 2000 до 5000 руб.</label>
            </div>
            <div>
                <input type="checkbox" value="5000-1000000" v-model="price">
                <label>от 5000 руб.</label>
            </div>
        </div>
        <!-- <button @click="filter()">Применить</button> -->
    </div>

    <div class="products__filter__rigth">
            
           
            <template v-if="proc_filter != '' ">
                <template v-if="result == true">
                    {% for power_block in power_blocks %}
                    <template v-for="id in proc_filter">
                        <template v-if="'{{power_block.id}}' == id">
    
                            <div class="box">
                                <a href="/info/{{power_block.id}}/Power_block" class="box__card__a">
                                    <div class="box__card">
                                        {% if power_block.image.url != "" or power_block.image.url != Null %}
                                        <img src="{{ power_block.image.url }}" class="card__img">
                                        {% else %}
                                        <img src="" class="card__img">
                                        {% endif %}
                                        <div class="box__description">
                                            <p class="box__logo">{{power_block.title}}</p>
                                            <P>Мощность: {{power_block.power}} Вт</P>
                                            <p>В наличии: {{power_block.stock}}</p>
                                            <p>Цена: <span class=price>{{power_block.price}}</span></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </template>
                    </template>
                {% endfor %}
                </template>
                <template v-else>
                    <p class="not__found">Не найдено</p>
                </template>
            </template>
        
            
       
    
            <template v-else>
                <!-- hide__checbox - костыль, чтобы js передать все товары из бд -->
                {% for power_block in power_blocks %}
                    <div class="box">
                        <a href="/info/{{power_block.id}}/Power_block" class="box__card__a">
                            <div class="box__card">
                                {% if power_block.image.url != "" or power_block.image.url != Null %}
                                <img src="{{ power_block.image.url }}" class="card__img">
                                {% else %}
                                <img src="" class="card__img">
                                {% endif %}
                                <div class="box__description">
                                    <p class="box__logo">{{power_block.title}}</p>
                                    <P>Мощность: {{power_block.power}} Вт</P>
                                    <p>В наличии: {{power_block.stock}}</p>
                                    <p>Цена: <span class=price>{{power_block.price}}</span></p>
                                </div>
    
                                <div class="hide__checkbox">
                                    <input type="checkbox" value="{{power_block.title}}%%{{power_block.id}}%%{{power_block.power}}%%{{power_block.price}}"></input>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </template>
    </div>
    
</div>







<script src="{% static 'js/power_block_filters.js' %}"></script>


{% endblock %}