{% extends 'mainapp/base.html' %}
{% block title %}Личный кабинет{% endblock %}
{% block site_content %}
{% load static %}

<link href= '{% static "css/create.css" %}' rel="stylesheet">

<form method="post">
    <h3>Профиль: {{user1.username}}</h3>
    <h3>Электронная почта: {{user1.email}}</h3>
    <br>
    {% csrf_token %}
    <div class="form-group">
        <table>
            {{ form }}
        </table>
    </div>
    <h6 style="color:#000000">Подсказка: пароль должен состоять из строчных и прописных букв, содержать в себе цифры и специальные знаки (!@#$%^&*).</h6>
    <br>
    <div class="col-md-10 mx-auto col-lg-1">
        <button class="w-100 btn btn-lg btn-primary" type="submit">Изменить</button>
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Назад</a></li>
        </ul>
    </div>

    {{ message }}
    {{ error }}
</form>
<h2>История покупок</h2>
{% for purchase in history %}
    <p>{{purchase.date}}</p>
    <p>{{purchase.content|safe|linebreaks}}</p>
    <br>
{% endfor %}

{% endblock %}