{% extends 'mainapp/base.html' %}
{% block title %}Личный кабинет{% endblock %}
{% block site_content %}
{% load static %}

<link href= '{% static "css/profile.css" %}' rel="stylesheet">

<div class="profile__card">
    <form method="post" class="profile__form">
        <h3>Профиль: {{user1.username}}</h3>
        <h3>Электронная почта: {{user1.email}}</h3>
        <br>
        {% csrf_token %}
        <div class="form-group">
            <table>
                {{ form }}
            </table>
        </div>
        <div class="tip">
            <h6>Подсказка: пароль должен состоять из строчных и прописных букв, содержать в себе цифры и специальные знаки (!@#$%^&*).</h6>
        </div>
        <div class="button">
            <button class="buy">Изменить</button>
        </div>
        
    
        {{ message }}
        {{ error }}
    </form>
</div>

<div class="history">
    <h2 class="history__logo">История покупок</h2>
    <div class="history__content">
    {% for purchase in history %}
    
        <p>{{purchase.date}}</p>
        <p>{{purchase.content|safe|linebreaks}}</p>
        <br>
        {% endfor %}
    </div>
    
    
    
</div>




{% endblock %}