{% extends 'mainapp/base.html' %}
{% block title %}Регистрация{% endblock %}
{% block site_content %}
{% load static %}
<link href= "{% static 'css/register.css' %}" rel="stylesheet">
    
    <div class="register__card">
        <form class="register__form" method="POST">

            {% csrf_token %}
            <h3 class="register__logo">Регистрация</h3>
            <div class="form-group">
                {{ form.username.label }}{{ form.username }}
            </div>
            <h6 class="tip">Подсказка: логин  не может содержать в себе пробелы, кириллицу и спец. знаки (кроме _ и -).</h6>
            
            <div class="form-group">
                {{ form.email.label }}{{ form.email }}
            </div>
          
            <div class="form-group">
                {{ form.password1.label }}{{ form.password1 }}
            </div>

            <h6 class="tip">Подсказка: пароль должен состоять из строчных и прописных букв, содержать в себе цифры и специальные знаки (!@#$%^&*).</h6>
        
            <div class="form-group">
                {{ form.password2.label }}{{ form.password2 }}
            </div>
        
            <h6><a href="/login">Есть аккаунт?</a></h6>
           
           <button class="buy">Зарегистрироваться</button>
            <small style="color:#FF0000">{{ error }}</small>
        </form>
    </div>

{% endblock %}