{% extends 'mainapp/base.html' %}
{% block title %}Видеокарты{% endblock %}
{% block site_content %}
{% load static %}
<link href="{% static 'css/products.css' %}" rel="stylesheet">
<script src="{% static 'js/vue.js' %}"></script> <!-- Подключаем вью файликом -->

<div class="products">
    <div class="products__filter__left">
        <p class="filter__logo">Фильтры</p>
        <div class="filter__data">
            {% if filter == 'price_up' %}
            <div>
                <input type="radio" name="pr" @change="price_up()" checked="true">
                <label>По возрастанию цены</label>
            </div>
            <div>
                <input type="radio" name="pr" @change="price_down()" value="2">
                <label>По убыванию цены</label>
            </div>

            {% elif filter == 'price_down' %}
            <div>
                <input type="radio" name="pr" @change="price_up()">
                <label>По возрастанию цены</label>
            </div>
            <div>
                <input type="radio" name="pr" @change="price_down()" value="2" checked="true">
                <label>По убыванию цены</label>
            </div>

            {% else %}
            <div>
                <input type="radio" name="pr" @change="price_up()" checked="true">
                <label>По возрастанию цены</label>
            </div>
            <div>
                <input type="radio" name="pr" @change="price_down()" value="2">
                <label>По убыванию цены</label>
            </div>

            {% endif %}
        </div>

        <p class="filter__name">По производителю</p>
        <div class="filter__data">
            <div>
                <input type="checkbox" value="AMD" v-model="manufacturer">
                <label>AMD</label>
            </div>
            <div>
                <input type="checkbox" value="Nvidia" v-model="manufacturer">
                <label>Nvidia</label>
            </div>
        </div>


        <p class="filter__name">По цене</p>
        <div class="filter__data">
            <div>
                <input type="checkbox" value="0-9999.99" v-model="price">
                <label>До 10000 руб.</label>
            </div>
            <div>
                <input type="checkbox" value="10000-19999.99" v-model="price">
                <label>10000 руб. - 20000 руб.</label>
            </div>
            <div>
                <input type="checkbox" value="20000-39999.99" v-model="price">
                <label>от 20000  до 40000 руб.</label>
            </div>
            <div>
                <input type="checkbox" value="40000-10000000" v-model="price">
                <label>от 40000 руб.</label>
            </div>
        </div>
        <!-- <button @click="filter()">Применить</button> -->
    </div>

    <div class="products__filter__rigth">
            
           
            <template v-if="proc_filter != '' ">
                <template v-if="result == true">
                    {% for videocard in videocards %}
                    <template v-for="id in proc_filter">
                        <template v-if="'{{videocard.id}}' == id">
    
                            <div class="box">
                                <a href="/info/{{videocard.id}}/Videocard" class="box__card__a">
                                    <div class="box__card">
                                        {% if videocard.image.url != "" or videocard.image.url != Null %}
                                        <img src="{{ videocard.image.url }}" class="card__img">
                                        {% else %}
                                        <img src="" class="card__img">
                                        {% endif %}
                                        <div class="box__description">
                                            <p class="box__logo">{{videocard.title}}</p>
                                            <p>Видеопамять: {{videocard.memory}}</p>
                                            <p>Рекомендуемый БП: {{videocard.power}} Вт</p>
                                            <p>В наличии: {{videocard.stock}}</p>
                                            <p>Цена: <span class=price>{{videocard.price}}</span></p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </template>
                    </template>
                {% endfor %}
                </template>
                <template v-else>
                    <p class="not__found">Не найдено</p>
                </template>
            </template>
        
            
       
    
            <template v-else>
                <!-- hide__checbox - костыль, чтобы js передать все товары из бд -->
                {% for videocard in videocards %}
                    <div class="box">
                        <a href="/info/{{videocard.id}}/Videocard" class="box__card__a">
                            <div class="box__card">
                                {% if videocard.image.url != "" or videocard.image.url != Null %}
                                <img src="{{ videocard.image.url }}" class="card__img">
                                {% else %}
                                <img src="" class="card__img">
                                {% endif %}
                                <div class="box__description">
                                    <p class="box__logo">{{videocard.title}}</p>
                                    <p>Видеопамять: {{videocard.memory}}</p>
                                    <p>Рекомендуемый БП: {{videocard.power}} Вт</p>
                                    <p>В наличии: {{videocard.stock}}</p>
                                    <p>Цена: <span class=price>{{videocard.price}}</span></p>
                                </div>
    
                                <div class="hide__checkbox">
                                    <input type="checkbox" value="{{videocard.title}}%%{{videocard.id}}%%{{videocard.power}}%%{{videocard.price}}"></input>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </template>
    </div>
    
</div>






</div>
<script src="{% static 'js/videocard_filters.js' %}"></script>


{% endblock %}